@media screen and (min-width: 200px) {
    fieldset {
        background-color: $terciario;
        border: groove 0.4rem $secundario;
        margin-top: calc($medida * 4);
        width: 90%;
    }
    .flex__form {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 600px){
    fieldset {
        width: 80%;
    }
}
@media screen and (min-width:1024px) {
    fieldset {
        width: calc($medida * 30);
        margin-left: calc($medida + 3rem);
    }
    form {
        color: $secundario;
        margin-top: calc($medida * 1.5);
        margin-left: calc($medida * 2);
        font-weight: bold;
    }
    .form_boton {
        color: $secundario;
        background-color: $primario;
        border: solid $secundario 0.3rem;
        font-family: 'Eater', cursive;
        font-weight: bold;
        margin: 1rem 0rem;
        width: calc($medida * 9);
    }
    .flex__form {
        display: flex;
        justify-content: flex-start;
    }
}