@media screen and (min-width: 200px) {
    .flex__album {
        @include flex_column_AIcenter;
        margin-top: calc($medida + 1rem);
}
.album {
    margin-top: $medida;
}
}
@media screen and (min-width: 768px) {
    .flex__album {
        @include flex_row_sp-ar;
        align-items: center;
        margin-top: calc($medida * 2);
    }
}
@media screen and (min-width: 1024px) {
    .flex__album {
        @include flex_row_sp-ar;
        margin-top: calc($medida + 1rem);
    }
}