.fondo1 {
    background-image: url(../img/fondo_inicio.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo2 {
    background-image: url(../img/fondo_proximos_conciertos.jfif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo3 {
    background-image: url(../img/fondo_discografia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo4 {
    background-image: url(../img/fondo_galeria.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo5 {
    background-image: url(../img/fondo_contacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo6 {
    background-image: url(../img/fondo_productos.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}