@media screen and (min-width: 200px) {
    .flex__img {
        @include flex_row_sp-ar;
    }
    .galeria__img {
        margin: 3rem 0rem 2rem 0rem;
        border-top: outset 0.6rem $secundario;
        border-right: outset 0.6rem $gris;
        border-bottom: outset 0.6rem $secundario;
        border-left: outset 0.6rem $gris;
        @include sizes ( 23rem, 12rem );
    }
    .galeria__img:hover {
        transform: scale(1.2);
    }
    .galeria__iframe {
        margin: 2rem 0rem 2rem 0rem;
    }
}
@media screen and (min-width: 1024px) {
    .flex__img {
        @include flex_row_sp-ar;
    }
}