@media screen and (min-width: 200px){
    .grilla {
        display: grid;
        grid-template-areas:
        "productos";
        grid-template-columns: repeat(1,1fr);
        margin-top: 2rem;
    }
    .productos {
        display: grid;
        grid-area: productos;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        row-gap: 1rem;
    }
    .productos__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $terciario;
        border: outset 0.3rem $secundario;
        padding: 0.8rem;
        color: $secundario;
        width: 15rem;
    }
}
@media screen and (min-width:768px) {
    .grilla {
        display: grid;
        grid-template-areas:
        "productos productos";
        grid-template-columns: repeat(2,1fr);
        margin-top: 2rem;
    }
    .productos {
        display: grid;
        grid-area: productos;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
}
@media screen and (min-width:1024px) {
    .grilla {
        display: grid;
        grid-template-areas:
        "productos productos productos";
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat (3,1fr);
        margin-top: 2rem;
    }
    .titulo__productos {
        display: flex;
        justify-content: flex-start;
    }
    .productos {
        display: grid;
        grid-area: productos;
        grid-template-columns: repeat(3,1fr);
        row-gap: 1rem;
        justify-items: center;
    }
    .productos__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $terciario;
        border: outset 0.3rem $secundario;
        padding: 0.8rem;
        color: $secundario;
        width: 20rem ;
    }
}