@media screen and (min-width: 200px) {
    .flex__entradas {
        @include flex_column_AIcenter;
    }
    .entradas_borde {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 75%;
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        border: groove 0.4rem $secundario;
        margin-top: calc($medida * 2);
        color: $secundario;
        background-color: $terciario;
    }
    .entradas_boton {
        color: $secundario;
        background-color: $primario;
        border: solid $secundario 0.3rem;
        font-family: 'Eater', cursive;
        font-weight: bold;
        width: calc($medida * 6.5);
        transition: 0.6s;

        &:hover {
            transform: scale(1.06);
        }
    }
    .barra__conciertos {
        border: outset $secundario 0.2rem;
        @include sizes ( 20rem, 2rem );
    }
    .barra__completa {
        @include sizes ( 20rem, 2rem );
        background-color: $rojo;
        animation-name: completa;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes completa {
        0% { width: 0rem; }
        20% { width: 4rem; }
        40% { width: 8rem; }
        60% { width: 12rem; }
        80% { width: 16rem; }
        100% { width: 20rem; }   
    }
    .barra__70 {
        @include sizes ( 14rem, 2rem );
        background-color: $rojo;
        animation-name: setenta;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes setenta {
        0% { width: 0rem; }
        25% { width: 3.5rem; }
        50% { width: 7rem; }
        75% { width: 10.5rem; }
        100% {width: 14rem; }   
    }
    .barra__50 {
        @include sizes ( 10rem, 2rem );
        background-color: $rojo;
        animation-name: cincuenta;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes cincuenta {
        0% { width: 0rem; }
        20% { width: 2rem; }
        40% { width: 4rem; }
        60% { width: 6rem; }
        80% { width: 8rem; }
        100% { width: 10rem; }
    }
}
@media screen and (min-width: 600px) {
    .flex__entradas {
        @include flex_column_AIcenter;
    }
    .entradas_borde {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: calc($medida * 33);
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        border: groove 0.4rem $secundario;
        margin-top: calc($medida * 2);
        color: $secundario;
        background-color: $terciario;
    }
}
@media screen and (min-width: 1024px) {
    .flex__entradas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .entradas_borde {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: calc($medida * 3);
        width: calc($medida * 40);
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        border: groove 0.4rem $secundario;
        margin-block: 1.5rem;
        color: $secundario;
        background-color: $terciario;
    }
    .barra__conciertos {
        margin-left: calc($medida * 3);
    }
}